body {
  background-color: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.containerDiv{
    display: flex;
    flex-direction: column;
}

.defaultButton{
    background-color: gray;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.defaultButton:hover{
    background-color: rgb(95, 95, 95);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.agvViz{
    height: 100vh; 
    width: fit-content;
}

input[type="file"] {
    color: var(--text-muted);
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0.9rem;
}

input[type="file"].defaultButton {
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    color: gray;
}

input[type="file"].defaultButton::file-selector-button {
    font-size: inherit;
    cursor: inherit;
    background-color: gray;
    color: white;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    margin-right: 10px;
}

input[type="file"].defaultButton::file-selector-button:hover {
    background-color: rgb(95, 95, 95);
    border: 1px solid black;
}